{% extends 'cafe/base.html' %}
{% load static %}
{% block content %}
<div class="top-menu">
{% for c in categories %}
<a class='top-menu menu-link' href="#{{c.title}}">{{c.title.title}}</a>
{% endfor %}
</div>
<section class="main-content">
    <div class="container">
        <div class="row">
            {% for c in categories %}
            <h5 id="{{c.title.lower}}" class="d-flex justify-content-center"><strong>{{c.title.title}}</strong></h5>
            {% for product in products %}
                {% if product.category == c %}
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="{% url 'show_product' product.slug %}"><img src="{{ product.image_URL }}">
                        </a>
                    </div>
                    <div class="product-details">
                        <h4>{{product.name}}</h4>
                        <p>{{product.description}}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                {{product.price}}$
                            </div>
                            <div class="product-links">
                                {% if product.category.digital is False %}
                                <button data-product="{{product.id}}" data-action="add" class="update-cart">
                                    <i class="fa-regular fa-plus"></i></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <hr>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}