*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Exo 2', sans-serif;
}

.header{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #101010;
}
.menu{
    color: #eee;
    display: flex;
    justify-content: space-between;
}
.menu__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 350px;
}
.menu__link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #EEEEEE;
    padding: 25px 25px 25px 25px;

}
.menu__link:hover{
    color: #05A88D
}
.menu__logo{
    text-decoration: none;
    color: #EEEEEE;
    font-size: 26px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.015em;
    padding-top: 35px;
    padding-bottom: 35px;
    display: block;
}



#cart-icon{
    width: 30px;
    height: 30px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 10px;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	padding-left: 10px;
	margin-top: 20px;
}

.thumbnail{
    padding-top: 20px;
    margin-left: 50px;
    max-width: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    color: #111111;
    }
h6{
    text-align: center;
}
.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eceece
}

.row-image{
    width: 100px;
    height: 100px;
    }

.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity{
    width: 15px;
    cursor: pointer;
    display: block;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	padding-top: 10px;

}
#make-payment{
    width: 75px;
    height: 25px;
}

.single-post{
   display: flex;
   flex-wrap: wrap;
}


.menu-categories{
    color: #111111;
    display: flex;
    justify-content: space-between;
}
.menu-categories-ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-categories-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #111111;
    padding: 0px 25px 0px 25px;
}

.menu-categories-link:hover{
    color: #05A88D;
}

.category{
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
}

.single-post{
    background-color: #EEEEEE;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image{
    max-height: 20%;
    max-width: 20%;
    width: auto;
    height: auto;
}

.mini-image{
    max-height: 10%;
    max-width: 10%
    width: 200px;
    height: 200px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}
.hidden{
	display: none!important;
}