body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: white;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

.navbar .navbar-nav .nav-link  {
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu{
    right: 0;
    left: auto;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}

.modal-body img{
    max-width: 100px;
}

.my-carousel .carousel-item{
    display: flex;
    max-height: 500px;
}

.my-carousel .carousel-item img{
    object-fit: cover;
}


.product-card{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.product-thumb img{
    max-width: 100%;
    max-height: 100%;
}

.product-details{
    padding: 20px;

}

.product-details h4 a{
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

.product-details p{
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    height: 44px;
    overflow: hidden;
}

.product-bottom-details{
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price{
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}

.product-links a{
    font-size: 20px;
    margin-left: 10px;
}

.footer{
    background-color: #343434;
}

.footer h4{
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a{
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover{
    color: #eee;
    text-decoration: underline;
}
.footer a, .footer li {
    color: #c8c8c8;
}

.footer li a{
    display: block;
}

.footer-icons{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 10px;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	padding-left: 10px;
	margin-top: 20px;
}

.thumbnail{
    padding-top: 20px;
    margin-left: 50px;
    max-width: 100%;
    max-height: 100%;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    color: #111111;
    }
h6{
    text-align: center;
}
.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eceece
}

.row-image{
    width: 100px;
    height: 100px;
    }

.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity{
    width: 15px;
    cursor: pointer;
    display: block;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.col-md-2, .col-md-4, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	padding-top: 10px;

}
#make-payment{
    width: 75px;
    height: 25px;
}

.single-post{
   display: flex;
   flex-wrap: wrap;
}


.menu-categories{
    color: #111111;
    display: flex;
    justify-content: space-between;
}
.menu-categories-ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-categories-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #111111;
    padding: 0px 25px 0px 25px;
}

.menu-categories-link:hover{
    color: #05A88D;
}

.category{
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
}

.single-post{
    background-color: #EEEEEE;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image{
    max-height: 20%;
    max-width: 20%;
    width: auto;
    height: auto;
}

.mini-image{
    max-height: 10%;
    max-width: 10%
    width: 200px;
    height: 200px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}
.hidden{
	display: none!important;
}